#upper_case{
	text-transform: uppercase;
}
#float_right{
	float: right;
	color: #a6a6a6;
	font-size: 0.9em;
}
#float_left{
	float: left;
	color: #a6a6a6;
	font-size: 0.9em;
	padding-bottom: 50px;
}
#edit_club_news_page_header{
	color: #e6e6e6;
}
.well-wb{
	background-color: white;
	color: black;
}
.gray_color{
	color: #e6e6e6;
}
